<div class="container-fluid bg-secondary my-5">
  <div class="row justify-content-md-center py-5 px-xl-5">
    <div class="col-md-12 col-12 py-5">
      <div class="col-12">
        <p class="text-justify lh-lg">
          At E Shopper, we believe that fashion is not just about wearing clothes, but about making a statement. Our curated collection is designed to empower and inspire you to express your individuality through what you wear. Whether you're looking for chic everyday essentials or eye-catching statement pieces, we have something for everyone.<br><br>

          Our team is passionate about staying ahead of the fashion curve and delivering exceptional customer experiences. With a keen eye for quality and style, we handpick each item in our collection to ensure that you receive only the best.
          <br><br>
          <b>Elevate your style with E Shopper - where fashion meets individuality.</b>
        </p>
      </div>

      <div class="row align-items-center mt-5 justify-content-center col-12 col-lg-10">
        <div class="col-12 col-lg-6">
          <img class="w-75" src="../../../assets/img/Author.jpg" alt="Author image"/>
        </div>
        <div class="col-12 col-lg-4">
          <h1 class="mb-4 mt-4">Author</h1>
          <div class="flex-column">
            <p>Name: Nenad Jevtić</p>
            <p>Index: 60/20</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
